# --- Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- IntelliJ IDEA ---
.idea
*.iws
*.iml
*.ipr
out/

# --- Mac OS (Śmieci systemowe) ---
.DS_Store
.AppleDouble
.LSOverride

# --- Spring Boot & Env ---
.env
help.md
.classpath
.project
.settings/
/bin/

# --- Logs ---
logs/
*.log

# --- Other ---
*.class
*.jar
*.war
*.zip
*.tar.gz
*.rar
uploads/
storage/
media/
tmp/