version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: cinema-db
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=cinema_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

volumes:
  db_data: